header.header
    .container
        .header__wrap
            .header__logo
                img(src="./assets/images/logo.png" alt="logo")
            .header__menu.menu
                ul.menu__list
                    li.menu__item
                        a.menu__link(href="#") ABOUT US
                    li.menu__item
                        a.menu__link(href="#") C2B ACCOUNTS
                    li.menu__item
                        a.menu__link(href="#") B2B ACCOUNTS
                    li.menu__item
                        a.menu__link(href="#") ACCOUNTS FOR SALE
                    li.menu__item
                        a.menu__link(href="#") AVAILABLE ACCOUNTS
                    li.menu__item
                        a.menu__link(href="#") CONTACTS
                button.logout(type="button")
                    svg.icon: use(xlink:href="assets/images/icons/sprite.svg#logout")