extends ../template

block variables
    - var title = 'Available Accounts'

block content
    .wrapper
        header.header
            .container
                .header__logo
                    //- img(src="" alt="logo")
                .header__menu.menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="#") item 1
                        li.menu__item
                            a.menu__link(href="#") item 2
                        li.menu__item
                            a.menu__link(href="#") item 3
                        li.menu__item
                            a.menu__link(href="#") item 4
                        li.menu__item
                            a.menu__link(href="#") item 5
                        li.menu__item
                            a.menu__link(href="#") item 6
                    button.logout(type="button")
        section.section
            .container
                h1.section__title Available Accounts
                .section__description lorem ipsum dolor
                .accounts
                    .accounts__title c2b accounts
                    .accounts__block
                        table
                            thead
                                tr
                                    th 1
                                    th 2
                                    th 3
                            tbody
                                tr
                                    td 1
                                    td 2
                                    td 3
                                tr
                                    td 1
                                    td 2
                                    td 3
        footer.footer
            .container
                .footer__col
                    .footer__logo
                        //- img(src="" alt="footer-logo")
                .footer__col
                    .footer__menu-col
                        ul.footer__menu-list
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                    .footer__menu-col
                        ul.footer__menu-list
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                    .footer__menu-col
                        ul.footer__menu-list
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item