extends ../template

block variables
    - var title = 'Main'

block content
    .wrapper
        div.content
            canvas#canvas.canvas
            button#btn.button(type="button") Start    
        div.popup#popup
            button#popup-close.popup__close(type="button")
            div.popup__text Your result: 
                span#popup-result ...
            button#btn-popup.button.button--dark(type="button") Repeat
        