extends ../template

block variables
    - var title = 'Main'

block content
    .wrapper
        header.header
            .container
                .header__logo
                    //- img(src="" alt="logo")
                .header__menu.menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="#") item 1
                        li.menu__item
                            a.menu__link(href="#") item 2
                        li.menu__item
                            a.menu__link(href="#") item 3
                        li.menu__item
                            a.menu__link(href="#") item 4
                        li.menu__item
                            a.menu__link(href="#") item 5
                        li.menu__item
                            a.menu__link(href="#") item 6
                    button.logout(type="button")
        section.section.start
            h1.visuallyhidden Section Title
            .container
                .start__row
                    .start__title Lorem ipsum
                    .start__subtitle lorem ipsum dolor sit amet
            .start__row.slider
                .slider__slogan lorem ipsum
                ul.slider__list
                    li.slider__item
                        //- img(src="" alt="slider-image")
            //- .start__abs-img
        section.section.section--blue
            .container
                .section__col
                    h1.section__title About us
                    .section__description
                        p lorem ipsum
                .section__col
                    //- img.section__image(src="" alt="section-image")
        section.section.section--dark.services
            .container
                .services__line
                    h1.section__title Our services
                    .section__description
                        p lorem ipsum services
                .services__line
                    ul.services__list
                        li.services__item
                            .services__image
                                //- img(src="" alt="services-image")
                            .services__title lorem
        section.section.section--white
            .container
                .section__col
                    h1.section__title C2B Accounts
                    .section__description
                        p lorem ipsum
                    a.button(href="#") button
                .section__col
                    //- img.section__image(src="" alt="section-image")
        section.section.section--blue
            .container
                .section__col
                    //- img.section__image(src="" alt="section-image")
                .section__col
                    h1.section__title B2B Accounts
                    .section__description
                        p lorem ipsum
                    a.button(href="#") button
        section.section.section--white
            .container
                .section__col
                    h1.section__title Accounts for sale
                    .section__description
                        p lorem ipsum
                    a.button(href="#") button
                .section__col
                    //- img.section__image(src="" alt="section-image")
        section.section.section--blue.contacts
            .container
                .section__col.section__col--dark
                    h1.section__title Our contacts
                    ul.contacts__list
                        li.contacts__item
                            .contacts__icon
                            .contacts__data lorem ipsum
                        li.contacts__item
                            .contacts__icon
                            .contacts__data lorem ipsum
                        li.contacts__item
                            .contacts__icon
                            .contacts__data lorem ipsum
                .section__col
                    .section__title Send us message
                    form.form
                        .form__row
                            label.form__block
                                .form__title Name
                                input.form__input(type="text" placeholder="Name")
                            label.form__block
                                .form__title Name
                                input.form__input(type="text" placeholder="Name")
                        .form__row
                            label.form__block
                                .form__title Name
                                input.form__input(type="text" placeholder="Name")
                            label.form__block
                                .form__title Name
                                input.form__input(type="text" placeholder="Name")
                        .form__row
                            label.form__block
                                .form__title Name
                                textarea.form__textarea(placeholder="Your Message")
                        .form__row
                            button.form__submit(type="submit") submit
        footer.footer
            .container
                .footer__col
                    .footer__logo
                        //- img(src="" alt="footer-logo")
                .footer__col
                    .footer__menu-col
                        ul.footer__menu-list
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                    .footer__menu-col
                        ul.footer__menu-list
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item
                    .footer__menu-col
                        ul.footer__menu-list
                            li.footer__menu-item
                                a.footer__menu-link(href="#") item