.start {
    position: relative;
}

.start__row--bg {
    background-image: linear-gradient(to bottom, #002c3a, #00546e);
    padding: rem(208px) 0 rem(175px) 0;

    @include --lg {
        padding: 178px 0 105px 0;
    }

    @include --md {
        padding: 140px 0 80px 0;
    }

    @include --sm {
        padding: 120px 0 60px 0;
    }

    @include --xs {
        padding: 100px 0 60px 0;
    }
}

.start__title {
    font-family: $fm;
    font-size: rem(48px);
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $text_link2;

    @include --lg {
        font-size: 42px;
    }

    @include --md {
        font-size: 36px;
    }

    @include --sm {
        font-size: 30px;
    }

    @include --xs {
        font-size: 20px;

        & br {
            display: none;
        }
    }
}

.start__subtitle {
    font-family: $fsb;
    font-size: rem(22px);
    font-weight: 600;
    font-style: normal;
    line-height: em(32/22);
    letter-spacing: normal;
    color: $text_link2;
    margin-top: em(28/22);

    @include --lg {
        font-size: 20px;
    }

    @include --md {
        font-size: 18px;
    }

    @include --sm {
        font-size: 16px;
    }
}

.slider {
    background-color: #fff;
    padding: rem(33px) 0 rem(101px) 0;

    @include --lg {
        padding: rem(33px) 0 rem(70px) 0;
    }

    @include --md {
        padding: 33px 0 55px 0;
    }

    @include --xs {
        padding: 33px 0 45px 0;
    }
}

.slider__slogan {
    font-family: $fsb;
    font-size: rem(22px);
    font-weight: 600;
    font-style: normal;
    line-height: em(32/22);
    letter-spacing: normal;
    color: $text;
    margin-bottom: rem(33px);

    @include --lg {
        font-size: 20px;
    }

    @include --md {
        font-size: 18px;
        margin-bottom: 25px;
    }

    @include --sm {
        margin-bottom: 20px;
    }
}

.slider__list {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: auto !important;
}

.slider__item > img {
    margin-left: rem(35px);
    margin-right: rem(35px);
    transform: scale(0.85);

    @include --md {
        transform: scale(0.65);
        margin: 0;
    }

    @include --xs {
        margin-left: 20px;
        margin-right: 20px;
        transform: scale(0.75);
    }
}

.start__abs-img {
    position: absolute;
    bottom: -2px;
    right: rem(61px);
    pointer-events: none;

    & > img {
        max-width: 100%;
        height: auto;
    }

    @include --lg {
        width: 50%;
        right: 30px;
    }

    @include --sm {
        display: none;
    }
}

.services__line {
    text-align: center;

    &:last-child {
        padding-top: rem(26px);

        @include --lg {
            padding-top: 0;
        }
    }
}

.services__list {
    display: flex;
    flex-flow: row wrap;
}

.services__item {
    width: calc(100% / 3);
    padding-top: rem(74px);

    @include --md {
        padding-top: 50px;
    }

    @include --sm {
        width: 50%;
        padding-top: 40px;
    }
}

.services__title {
    font-family: $r;
    font-size: rem(16px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $w;
    margin-top: em(12/16);

    @include --xs {
        font-size: 14px;
    }
}

.contacts__list {
    padding-top: rem(60px);

    @include --md {
        padding-top: 35px;
    }
}

.contacts__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: rem(36px);

    &:last-child {
        margin-bottom: 0;
    }

    @include --md {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include --sm {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.contacts__icon {
    margin-right: rem(24px);

    & .icon {
        height: rem(30px);
        width: rem(30px);
        fill: $w;

        @include --md {
            height: 25px;
            width: 25px;
        }
    }

    @include --lg {
        margin-right: 18px;
    }
}

.contacts__data {
    font-family: $r;
    font-size: rem(20px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $w;

    & a {
        display: block;
        color: $w;
        &:hover {
            text-decoration: underline;
        }
    }

    @include --lg {
        font-size: 18px;

        & > br {
            display: none;
        }
    }

    @include --md {
        font-size: 16px;
    }
}

.form {
    padding-top: rem(30px);
    position: relative;
}

.form__row {
    display: flex;
    margin-bottom: rem(40px);

    &:last-child {
        margin-bottom: 0;
    }

    @include --lg {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include --md {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include --xs {
        flex-direction: column;
    }
}

.form__block {
    display: block;
    flex: 1;
    margin-right: rem(74px);

    &:last-child {
        margin-right: 0;
    }

    @include --lg {
        margin-right: 60px;

        &:last-child {
            margin-right: 0;
        }
    }

    @include --md {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }

    @include --xs {
        margin-right: 0;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.form__title {
    font-family: $rb;
    font-size: rem(14px);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #01436b;
    text-transform: uppercase;
    margin-bottom: em(7/14);

    @include --md {
        font-size: 13px;
    }
}

.form__input {
    font-size: rem(14px);
    width: 100%;
    background: none;
    border: none;
    padding: rem(5px) 0;
    line-height: normal;
    border-bottom: 1px solid #01436b;
}

.form__textarea {
    font-size: rem(14px);
    width: 100%;
    background: none;
    border: none;
    padding: rem(5px) 0;
    line-height: normal;
    border-bottom: 1px solid #01436b;
    resize: none;
}

.form__submit {
    font-family: $rb;
    font-size: rem(14px);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $text_dark;
    background-color: $w;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    padding: em(16/14) em(60/14);
    transition: 0.2s;

    &:hover {
        background-color: #3f5776;
        color: $w;
    }

    @include --lg {
        font-size: 13px;
    }

    @include --md {
        font-size: 12px;
    }

    @include --sm {
        font-size: 11px;
    }

    @include --xs {
        width: max-content;
    }
}

.form__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $fsb;
    font-size: 22px;
    font-weight: 600;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #01436b;
    background-color: $w;
    box-shadow: 4px 7px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #e6e6e6;
    display: flex;
    align-items: center;
    padding: em(45/22) em(71/22);

    & > span {
        display: inline-block;
        width: max-content;
        margin-left: em(10/22);
    }

    @include --lg {
        font-size: 18px;
    }

    @include --xs {
        font-size: 16px;
        padding: 25px 30px;
    }
}
