.login {
    background-image: linear-gradient(to bottom, #002936, #005670), linear-gradient(to bottom, #002936, #005670);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    overflow: auto;
}

.login__block {
    max-width: 315px;

    @include --xs {
        max-width: 90%;
    }
}

.login__logo img {
    max-width: 100%;
}

.login__form {
    padding-top: rem(50px);
    text-align: center;

    @include --lg {
        padding-top: 40px;
    }

    @include --md {
        padding-top: 35px;
    }
}

.login__input {
    background-color: rgba(216, 216, 216, 0.41);
    padding: em(14/14) em(15/14);
    padding-left: em(68/14);
    width: 100%;
    border: none;
    font-family: $fb;
    font-size: rem(14px);
    text-transform: uppercase;
    color: $w;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 5% center;
    filter: brightness(0) invert(1);

    &::placeholder {
        color: rgba($color: $w, $alpha: 0.3);
    }

    & + .login__input {
        margin-top: 14px;
    }

    &.user {
        background-image: url(../images/username.png);
    }

    &.password {
        background-image: url(../images/password.png);
    }
}

.login__fail {
    font-family: $fsb;
    font-size: rem(12px);
    font-weight: 600;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #9f3f4a;
    margin-top: em(13/12);
}

.login__button {
    margin-top: em(15/14);
    font-family: $fb;
    font-size: rem(14px);
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #002936;
    background-color: $w;
    border-radius: em(8/14);
    padding: em(13/14) em(42/14);
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    transition: 0.2s;

    &:hover {
        background-color: #f7efda;
    }

    @include --xs {
        font-size: 12px;
    }
}
