.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include --sm {
        display: block;
    }
}

.section {
    flex-grow: 1;

    @include --sm {
        overflow: hidden;
    }
}

.section.js-scrolled {
    & .section__title {
        animation: fadeInUp 1s;
        opacity: 1;
    }

    & .services__item {
        animation: fadeInUp 1s;
        opacity: 1;
    }
    & .section__description,
    & .form,
    & .contacts__list {
        animation: fadeIn 1.8s;
        opacity: 1;
    }

    & .section__image {
        animation: zoomIn 1s;
        opacity: 1;
    }
}

.section--padding {
    padding: rem(120px) 0;

    @include --lg {
        padding: 100px 0;
    }

    @include --md {
        padding: 80px 0;
    }

    @include --sm {
        padding: 60px 0;
    }
}

.section--blue {
    background-color: $bg_blue;
}

.section--white {
    background-color: $w;
}

.section--dark {
    background-color: $bg_dark;
}

.section__title {
    font-family: $fb;
    font-size: rem(34px);
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: em(40/34);
    letter-spacing: normal;
    color: $text;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.3s;

    & + .section__description {
        margin-top: em(30/16);

        @include --lg {
            margin-top: 20px;
        }
    }

    &--light {
        color: $w;
    }

    @include --lg {
        font-size: 30px;
    }

    @include --md {
        font-size: 26px;
    }

    @include --sm {
        font-size: 24px;
    }

    @include --xs {
        font-size: 20px;
        text-align: center;
    }
}

.section__description {
    font-size: rem(16px);
    line-height: em(26/16);
    font-family: $r;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    opacity: 0;
    transition: 0.3s;

    &--light {
        color: $w;
    }

    & + .button {
        margin-top: em(45/16);

        @include --sm {
            margin-top: 25px;
        }
    }

    @include --md {
        font-size: 15px;
    }

    @include --sm {
        font-size: 14px;
    }
}

.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.section__row {
    display: flex;

    &--center {
        align-items: center;

        @include --sm {
            align-items: flex-start;
        }
    }

    @include --sm {
        flex-direction: column;
    }
}

.section__col {
    display: block;
    width: 50%;

    &--dark {
        position: relative;
        z-index: 10;
        background-color: $bg_dark;
        &:before {
            content: "";
            position: absolute;
            right: 99%;
            top: 0;
            bottom: 0;
            width: 200%;
            background-color: inherit;
            z-index: -1;
        }

        @include --sm {
            &:before {
                left: 50%;
                right: auto;
                transform: translate(-50%, 0);
            }
        }
    }

    @include --sm {
        width: 100%;
    }
}

.section__col--text {
    &:first-child {
        padding-right: rem(150px);

        @include --lg {
            padding-right: 30px;
        }

        @include --sm {
            padding-right: 0;
            padding-top: 30px;
        }
    }
    &:last-child {
        padding-left: rem(85px);

        @include --lg {
            padding-left: 30px;
        }

        @include --sm {
            padding-left: 0;
            padding-top: 30px;
        }
    }
}

.section__col--img {
    padding: 0 rem(30px);

    &:first-child {
        padding-right: rem(85px);
        padding-left: 0;

        @include --lg {
            padding-right: 30px;
        }

        @include --sm {
            padding-left: 30px;
        }
    }

    &:last-child {
        padding-left: rem(85px);

        @include --lg {
            padding-left: 30px;
        }

        @include --lg {
            padding-left: 30px;
        }
    }

    & > img {
        max-width: 100%;
        height: auto;
        opacity: 0;
        transition: 0.3s;

        @include --xs {
            max-height: 220px;
            width: auto;
            max-width: 100%;
        }
    }

    @include --sm {
        padding: 0 30px;
        text-align: center;
        order: -1;
    }
}

.contacts .section__col {
    padding-top: rem(120px);
    padding-bottom: rem(120px);
    &:first-child {
        width: 35.5%;
        padding-right: rem(60px);

        @include --md {
            padding-right: 30px;
        }

        @include --sm {
            width: 100%;
            padding-right: 0;
            order: 1;
        }
    }

    &:last-child {
        width: calc(100% - 35.5%);
        padding-left: rem(60px);

        @include --md {
            padding-left: 30px;
        }

        @include --sm {
            width: 100%;
            padding-left: 0;
        }
    }

    @include --lg {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @include --md {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include --sm {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.button {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: max-content;
    font-family: $rb;
    font-size: rem(14px);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $text_dark;
    border: 2px solid $text_dark;
    padding: em(20/14) em(23/14);
    transition: 0.2s;

    & .icon {
        width: em(23/14);
        height: em(16/14);
        margin-left: rem(20px);
        fill: $text_dark;
    }

    &:hover {
        color: $w;
        border-color: #3f5776;
        background-color: #3f5776;

        & .icon {
            fill: $w;
        }
    }

    @include --lg {
        font-size: 13px;
    }

    @include --md {
        font-size: 12px;
    }

    @include --sm {
        font-size: 11px;
    }

    @include --xs {
        font-size: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}
