$nav_width: rem(128px);

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.nav {
    background-color: #282e35;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $nav_width;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    width: 100%;
    text-align: center;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
}

.avatar__counter {
    position: absolute;
    color: $w;
    background-color: $link;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    top: -7px;
    right: 3px;
    font-size: 16px;
}

.nav__divider {
    width: 26px;
    height: 23px;
    fill: #595959;
}

.nav__item {
    text-align: center;
}

.nav__link {
    padding: 17px 0;
    border: 3px solid transparent;
    display: block;
    position: relative;

    &:hover,
    &.active {
        .nav__icon {
            fill: $link;
        }

        .nav__text {
            color: $w;
        }
    }

    &.active {
        border-left-color: $link;
    }
}

.nav__counter {
    position: absolute;
    top: 3px;
    right: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    background-color: #adadad;
    color: $w;
}

.nav__counter--link {
    background-color: $link;
}

.nav__icon {
    width: 43px;
    height: 43px;
    fill: #4f5154;
    transition: 0.3s;
}

.nav__text {
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    color: #787878;
    transition: 0.3s;
}

.container {
    margin-left: $nav_width;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.head__col {
    flex: 1;
    display: flex;
    align-items: center;

    &:last-child {
        justify-content: flex-end;
    }
}

.button {
    background: none;
    border: 1px solid;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    padding: em(10/16) em(17/16);
    border-radius: em(20/16);
    color: $text;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        border-color: $link;
        background-color: $link;
        color: $w;
    }
}

.button + .button {
    margin-left: 10px;
}

.button--icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    position: relative;

    & .icon {
        fill: $w;
        height: 45%;
        width: 45%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.button--link {
    border-color: $link;
    background-color: $link;
    color: $w;

    &:hover {
        border-color: darken($color: $link, $amount: 5);
        background-color: darken($color: $link, $amount: 5);
    }
}

.select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9.5px 17px;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        border-color: $link;
        background-color: $link;
        color: $w;

        & .icon {
            fill: $w;
        }
    }
}

.select__text {
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    margin: 0 8px;
    font-weight: 600;
}

.select .icon {
    width: 13px;
    height: 13px;
    fill: $text;
    transition: 0.3s;
}