// Responsive
$--xxl: 1679px; //max-width: 1679px;
$--xl: 1439px; //max-width: 1439px;
$--lg: 1279px; //max-width: 1279px;
$--md: 1023px; //max-width: 1023px;
$--sm: 767px; //max-width: 767px
$--xs: 480px; //max-width: 479px;

// Colors
$w: #ffffff;
$b: #000000;
$bg_color: #191919;
$orange: #F66122;

// Fonts
$font: 'VremenaGrotesk';