// Responsive
$--xxl: 1679px; //max-width: 1679px;
$--xl: 1439px; //max-width: 1439px;
$--lg: 1279px; //max-width: 1279px;
$--md: 1023px; //max-width: 1023px;
$--sm: 767px; //max-width: 767px
$--xs: 480px; //max-width: 479px;

// Colors
$w: #ffffff;
$b: #000000;
$bg_blue: #f0f9fc;
$bg_dark: #155d8a;
$text: #02546e;
$text_light: #777777;
$text_dark: #002936;
$text_link: #d3bda0;
$text_link2: #c1b191;

// Fonts
$r: "Roboto";
$rb: "RobotoBold";
$rm: "RobotoMedium";
$fm: "FiraSansMedium";
$fsb: "FiraSansSemiBold";
$fb: "FiraSansBold";
