html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: $r;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    line-height: 1.42;
    background-image: linear-gradient(179deg, #00516a 11%, #357589 45%, #ffffff 132%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visuallyhidden {
    position: absolute;
    width: 1px !important;
    height: 1px !important;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
