@font-face {
    font-family: 'VremenaGrotesk';
    src: url('../fonts/VremenaGroteskBook.woff2') format('woff2'),
        url('../fonts/VremenaGroteskBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}