@font-face {
    font-family: 'Freight';
    src: url('../fonts/Freight-SansBookSC.woff2') format('woff2'),
        url('../fonts/Freight-SansBookSC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}